
@mixin hoverEffect {
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@mixin backImage($image) {
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
       @content;
    }   
}