@import "./mixins";


// Colors

$col_blue: #82D0D9;
$col_lightblue: #C9EEF2;
$col_brown: #403923;
$col_lightbrown: #BFA380;
$col_sand: #F2DABD;
$col_white: rgba(230, 230, 230, 10);
$col_black: rgba(70, 70, 70, 10);


// Fonts
@import url('https://fonts.googleapis.com/css?family=News+Cycle|Satisfy&display=swap');


// Style

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'News Cycle';
    font-size: 12px;
    @include backImage('../images/strandblurred.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satisfy';
}

main {
    width: 100%;
    min-height: 500px;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 100px;
    margin: 30px auto 0;

    @include mQ('900px') {
        width: 100%;
        justify-content: center;
    }

    img {
        height: 100%;
    }
}

#main-nav {
    width: 70%;
    height: 80px;
    margin: 30px auto 0;

    @include mQ('900px') {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @include mQ('600px') {
        height: 150px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 100%;
        font-size: 14px;

        @include mQ('600px') {
            width: 100%;
            flex-direction: column;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $col_brown;
        @include hoverEffect;
        &:hover {
            color: $col_lightbrown;
        }
    }
}

.front-banner {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;

    @include mQ('900px') {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

.front-sections {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 300px;
    margin: 50px auto;
    
    @include mQ('900px') {
        width: 95%;
    }

    @include mQ('600px') {
        flex-direction: column;
        height: 1700px;
        margin: 30px auto;
    }
}

.sections-box {
    flex-basis: 23%;
    height: 100%;
    line-height: 20px;
    border-radius: 10px;
    color: $col_brown;   

    img {
        width: 100%;
        border-radius: 10px;
    }

    h3 {
        margin: 10px auto 5px;
    }

    a {
        @include hoverEffect;

        &:hover {
            color: $col_blue;
        }
    }
}

hr {
    width: 70%;
    margin: 0 auto;
    border: 1px solid $col_brown;

    @include mQ('900px') {
        width: 95%;
    }
}

#bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 50px;
    margin: 0 auto 30px;

    @include mQ('900px') {
        width: 95%;
    }

    @include mQ('600px') {
        flex-direction: column;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100%;

        @include mQ('600px') {
            width: 100%;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $col_brown;
        @include hoverEffect;

        &:hover {
            color: $col_lightbrown;
        }
    }

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        height: 100%;
        color: $col_brown;

        @include mQ('600px') {
            width: 100%;
            justify-content: center;
            margin: 10px auto;
        }
    }
}